// out: ../public/css/style.css, compress: true, sourceMap: true
/*------------------------------
IMPORT
--------------------------------*/
@import url("import/reset.less");
@import url("import/font.less");
@import url("import/bootstrap-grid.min.less");
@import url("import/bootstrap-spacing.less");
// @import url("import/responsive.less");
//@import url("import/magnific-popup.less");
//@import url("import/slick.less");
// @import "import/cookies.less";
//@import "../scripts/fancybox/jquery.fancybox.css";

/*------------------------------
COULEURS GÉNÉRIQUES
--------------------------------*/
@White: #FFFFFF;
@Black: #0E0E0F;
@Error: #CF1415;
@Validate: #25CD7D;
@Placeholder: @Grey;
@Overlay: rgba(255,231,66,.75);

/*------------------------------
PARTICULARITÉS
--------------------------------*/
@Bleu: #131156;
@Violet: #581E62;
@Violet-dark: #411648;
@Pourpre: #841A59;
@Pourpre-dark: #5C133E;
@Shadow:#1D0521;
@Client: #605162;
@Corail: #DB565F;
@Green: #56DBBC;
@Grey: #938795;
@Grey1: #C4BDC5;
@Grey2: #EFE9F0;
@Sticky : rgba(30,1,34,.5);
@Description : rgba(97,35,94,.7);
@Since: #FF9300;
@Red: @Error;
/*------------------------------
FONTS
--------------------------------*/
@BaseSize: 16;
@Regular:400;
@Bold:800;
@Podkova: 'Podkova', serif;
@Rubik: 'Rubik', sans-serif;
@FontAwesome: 'FontAwesome';
/*Images*/
@logo: url('../img/svg/django-logo-blc.svg') no-repeat center bottom;
@logoFooter: url('../img/svg/django-logo.svg') no-repeat left 20px top;
@Body: @White url('../img/jpg/fond-header-home.jpg') no-repeat center top;
@Footer: url('../img/jpg/fond-footer-home.jpg') no-repeat center top;

/*------------------------------
MARGIN PADDING
--------------------------------*/
@Mdesktop : 3.705%;
@Pdesktop : 3.705%;

/*------------------------------
MIXIN
--------------------------------*/
.FontAwesome(){
	font-family: @FontAwesome;
}
.Podkova-Reg(){
	font-family: @Podkova;
	font-weight: @Regular;
}
.Podkova-Bold(){
	font-family: @Podkova;
	font-weight: @Bold;
}
.Rubik-Reg(){
	font-family: @Rubik;
	font-weight: @Regular;
}
.Rubik-Bold(){
	font-family: @Rubik;
	font-weight: @Bold;
}
.fontSize(@size) {
	font-size: ~"@{size}px";
	@remSize: @size/@BaseSize;
	font-size: ~"@{remSize}rem";
}
.lineHeight(@size) {
	line-height: ~"@{size}px";
	@remSize: @size/@BaseSize;
	line-height: ~"@{remSize}rem";
}
.backgroundcover(){
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.transition(@prop:all, @duration:0.3s, @ease:ease-in-out) {
	-webkit-transition: @prop @duration @ease;
	-moz-transition: @prop @duration @ease;
	-ms-transition: @prop @duration @ease;
	-o-transition: @prop @duration @ease;
	transition: @prop @duration @ease;
}
.transformY(@y:-100px){
	-webkit-transform: translateY(@y);
	-ms-transform: translateY(@y);
	-o-transform: translateY(@y);
	transform: translateY(@y);
}
.transformX(@x:-100px){
	-webkit-transform: translateX(@x);
	-ms-transform: translateX(@x);
	-o-transform: translateX(@x);
	transform: translateX(@x);
}
.transformR(@r:45deg){
	-webkit-transform: rotate(@r);
	-ms-transform: rotate(@r);
	-o-transform: rotate(@r);
	transform: rotate(@r);
}
.btn(){
	background-color: ;
	.fontSize(20);
	line-height: 50px;
	.transition();
}
.border-radius(@rad:50%){
	-webkit-border-radius: @rad;
	-moz-border-radius: @rad;
	border-radius: @rad;
}

/*------------------------------
GLOBAL
--------------------------------*/
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body {
    overflow-x: hidden;
    .fontSize(16);
    .Podkova-Reg();
    color: @Black;
    background: @Body;
    position: relative;
    text-align: left;
}

/*------------------------------
CLEARFIX
--------------------------------*/

 /*
* Clearfix: contain floats
*/

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
* For IE 6/7 only
* Include this rule to trigger hasLayout and contain floats.
*/

.clearfix {
    *zoom: 1;
}

/*------------------------------
STRUCTURE
--------------------------------*/
body.admin-bar:not(.custom-background-image)::before{
	top: 0;
}
body:not(.custom-background-image)::before, body:not(.custom-background-image)::after{
	background: none;
}
/*------------------------------
ELEMENTS
--------------------------------*/
h1,
h2,
h3,
h4{
	line-height: 1;
}
h1{
	color: @White;
	.Podkova-Bold();
	.fontSize(40);
}
.page-header{
	h1{
		.fontSize(32);
	}
}
h2{
	color: @Grey;
	.Podkova-Bold();
	.fontSize(25);
}
.row{
	h2{
		margin-bottom: 15px;
		padding-left: 15px;
	}
}
h2.title-welcome{
	color: @Black;
	.Podkova-Bold();
	.fontSize(25);
	text-transform: uppercase;
	margin-bottom: 40px;
}
h3{
	color: @Pourpre-dark;
	.Rubik-Bold();
	.fontSize(24);
	text-transform: uppercase;
	em{
		.fontSize(16);
		.Rubik-Reg();
		font-style: italic;
		text-transform: none;
	}
}
h4{
	color: @Violet;
	.Rubik-Reg();
	.fontSize(20);
	text-transform: uppercase;
	margin: 10px 0;
}
p{
	.fontSize(16);
	.lineHeight(20);
	margin: 0 0 1rem;
}
a{
	color: @Black;
	text-decoration: underline;
	.transition();
}
a:hover, a:focus, a:active{
	color: @Grey;
	cursor: pointer;
	outline: none;
}
b{
	font-style: bold;
}
.address{
	font-style: normal;
	.fontSize(10);
}
.address,
.address a{
	color: @Grey;
}
.address a:hover{
	color: inherit;
}
ul{
	margin: 0;
}
li{
	list-style: none;
}
strong{
	font-weight: @Bold;
}
blockquote{
	border-left: 10px solid @Black;
	margin-left: 50px;
	margin-top: 20px;
	.fontSize(22);
	.lineHeight(27);
}
/*------------------------------
IMAGES
--------------------------------*/
img{
	max-width: 100%;
	height: 100%;
}
/*------------------------------
STRUCTURE
--------------------------------*/
.site{
	background: none;
	margin: 0;
}
.site-inner{
	max-width: 1024px;
}
.site-header{
	background-color: transparent;
	height: 100%;
	padding: 0;
	position: relative;
	width: 100%;
	z-index: 999;
}
.branding-fixed{
	background-size: 45%;
	background-position: center 70%;
}
.site-header-sticky{
	background: @Sticky;
	height: 40px;
	.site-inner{
/*
		align-items: center;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
*/
		height: 100%;
// 		justify-content: flex-end;
	}
}
.widget{
	margin: 0;
	padding: 0;
	float: none;
}
.widget-tel{
	color: @White;
	.fontSize(25);
	.Podkova-Bold();
	margin-bottom: 0;
	&:before{
		content: '\f095';
		.FontAwesome();
		margin-right: 10px;
	}
}
.sticky-navigation{
	margin-left: 30px;
}
.sticky-menu > li{
	display: inline-block;
	margin-right: 10px;
}
.sticky-menu > li a,
.contactez-nous a{
	&:before{
		color: @White;
		display: block;
		.FontAwesome();
		.fontSize(20);
	}
}
.sticky-menu > li a{
	display: block;
}
.sticky-menu > li a span{
	display: none;
}
.contactez-nous a{
	&:before{
		content: '\f0e0';
	}
}
.contactez-nous a.link-contact-google{
	padding: 0 20px;
	display: block;
	&:before{
		color: @Bleu;
	}
}
.link-contact-google span{
	display: none;

}
.google-map a{
	&:before{
		content: '\f041';
	}
}
.site-header-branding{
	clear: both;
	width: 100%;
}
.site-logo{
	background: @logo;
	background-size: 100%;
	direction: ltr;
	display: block;
	text-indent: -999em;
	height: 100px;
	width: 100%;
}
.site-branding{
	margin: 0 auto;
	margin-bottom: 15px;
	width: 280px;
}
.container{
	padding: @Pdesktop;
}
.page-inner{
	background-color: @White;
	min-height: 60vh;
	padding: 3.9%;
}
.page-header{
	background-color: @Corail;
	min-height: 180px;
	padding: 20px;
	margin-bottom: 20px;
}
/*------------------------------
NAVIGATION
--------------------------------*/
.navbar{
	margin-top: 15px;
	padding: 0 3.9%;
}
.nav-item{
	border-bottom: 4px solid transparent;
	padding: 0 0 10px;
	margin: 0 10px;
	&:first-child{
		margin-left: 0;
	}
	&:last-child{
		margin-right: 0;
	}
	a{
		color: @White;
		display: block;
		.Rubik-Reg();
		text-align: center;
		text-decoration: none;
		text-transform: uppercase;
		&:hover{
			color: @Corail;
		}
	}
}

.nav-item-active{
	border-bottom-color: @Corail;
	a{
		color: @Corail;
	}
}
/*------------------------------
INTERACTION
--------------------------------*/
.g-recaptcha{
	clear: both;
	float: right;
	margin-top: 20px;
	div{
		float: right;
	}
}
.alert{

}
.alert-danger.alert-file{
    width: 291px;
}
.alert-danger{
	background-color: @Error;
	color: @White;
	margin-bottom: 20px;
	padding: 10px;
    position: relative;
	text-align: center;
	text-transform: uppercase;
    &:before,
    &:after{
        bottom: 100%;
        left: 50%;
        border: solid transparent;
        content: "";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }
    &:after{
        border-color: rgba(207, 20, 21, 0);
        border-bottom-color: @Error;
        border-width: 5px;
        margin-left: -5px;
    }
    &:before{
        border-color: rgba(207, 20, 21, 0);
    	border-bottom-color: @Error;
    	border-width: 12px;
    	margin-left: -12px;
    }

}
.alert-danger.alert-on{
     &:before,
    &:after{
        display: none;
    }
}
/*------------------------------
PAGE MEMBRES
--------------------------------*/
.infos-membre{
	margin-top: 20px;
	color: @White;
	.Podkova-Reg();
	h2{
		color: @White;
		.fontSize(20);
		.Rubik-Reg();
		text-transform: uppercase;
		padding: 0;
	}
	h3{
		color: @White;
		.fontSize(18);
		.Podkova-Bold();
		margin-top: 10px;
	}
}
.nav-infos-membre{
	text-align: right;
	li{
		a{
			text-decoration: none;
			span{
				background-color: @White;
				color: @Corail;
				display: block;
				float: right;
				.lineHeight(40);
				text-decoration: none;
				padding: 0 10px;
				.transition(@prop:all, @duration:0.3s, @ease:ease-in-out);
			}
			&:after{
				display: block;
				background-color: rgba(255,255,255,.7);
				color: @Corail;
				.FontAwesome();
				float: right;
				.lineHeight(40);
				text-align: center;
				text-decoration: none;
				width: 40px;
			}
			&:hover{
				span{
					background-color: rgba(255,255,255,.7);
				}

			}
		}
		a.link-edit-profil{
			&:after{
				content: '\F013';
			}
		}
		a.link-historic-commande{
			&:after{
				content: '\F07C';
			}
		}
	}
	li + li{
		margin-top: 10px;
	}
}
.container-list-commandes{
}
.list-commandes{
	li{
		&:nth-child(2n){
			border-bottom: 1px solid @Grey2;
			border-top: 1px solid @Grey2;
			padding: 15px 0;
			margin: 15px 0;
		}
		&:last-child{
			border-bottom: 1px solid @Grey2;
			margin-bottom: 0;
			padding-bottom: 15px;
		}
	}
}
.infos-cmd{
	aside{
		color: @Grey;
		.Rubik-Reg();
		.fontSize(14);
		sep{
			color: @Corail;
		}
		span{
			color: @Pourpre-dark;
		}
	}
	h2,
	h3{
		border: none;
	}
	h2{
		color: @Grey;
		.Rubik-Reg();
		.fontSize(14);
		text-transform: uppercase;
	}
	h3{
		color: @Pourpre-dark;
		.Rubik-Bold();
		.fontSize(16);
	}
	aside,
	h3,
	p{
		text-transform: uppercase;
	}
	p{
		color: @Pourpre-dark;
		margin-bottom: 5px;
	}
}
.link-rcmd{
	a{
		position: absolute;
		text-decoration: none;
		right: 3.9%;
		&:hover{
			span{
				opacity: 1;
			}
		}
		span{
			color: @White;
			display: block;
			background-color: @Corail;
			opacity: 0;
			padding: 2px;
			.transition(@prop:all, @duration:0.3s, @ease:ease-in-out);
		}
		&:after{
			background-color: @Green;
			color: @White;;
			content: '\F07A';
			display: block;
			float: right;
			.FontAwesome();
			.lineHeight(40);
			text-align: center;
			text-decoration: none;
			width: 40px;
		}
	}
}
.link-spr{
	a{
		position: absolute;
		text-decoration: none;
		right: 3.9%;
		&:hover{
			span{
				opacity: 1;
			}
		}
		span{
			color: @White;
			display: block;
			background-color: @Corail;
			opacity: 0;
			padding: 2px;
			.transition(@prop:all, @duration:0.3s, @ease:ease-in-out);
		}
		&:after{
			background-color: @Red;
			color: @White;;
			content: '\F014';
			display: block;
			float: right;
			.FontAwesome();
			.lineHeight(40);
			text-align: center;
			text-decoration: none;
			width: 40px;
		}
	}
}
.page-header-editcommande{
	h2{
		.fontSize(20);
		.Rubik-Reg();
		color: @White;
	}
}
.easyPaginateNav{
	margin-top: 15px;
	.page{
		display: none;
	}
	a{
		background-color: @Grey1;
		color: @White;
		height: 35px;
		.lineHeight(35);
		margin: 0 5px;
		text-align: center;
		text-decoration: none;
		width: 35px;
		&:first-child{
			margin-left: 0;
		}
		&:last-child{
			margin-right: 0;
		}
		&:hover{
			background-color: @Grey;
		}
	}
	a.current{
		background-color: @Green;
	}
}
/*------------------------------
PAGE FORMULES
--------------------------------*/
.champ-obligatoire{
	color: @Placeholder;
	.Podkova-Reg();
	.fontSize(16);
	float: left;
	width: 100%;
    padding-bottom: 15px;
}

.formule-container{
	header{
		background: @Grey;
		height: 160px;
		padding: 20px;
		margin-bottom: 20px;
	}
	.header-formule-2{
		background: @Grey1;
	}
	aside{
		margin-bottom: -20px;
		margin-left: -20px;
		width: ~"calc(100% + 40px)";
		&:after{
			bottom: 145px;
			color: @White;
			display: block;
			.FontAwesome();
			.fontSize(50);
			position: absolute;
			right: 45px;
		}
	}
	.aside-formule-1{
		&:after{
			content: '\F1DE';
		}
	}
	.aside-formule-2{
		&:after{
			bottom: 125px;
			content: '\F0A1';
		}
	}
	.aside-formule-3{
		&:after{
			bottom: 125px;
			content: '\F144';
		}
	}
}
h2.title-formule{
	margin-bottom: 15px;
	&:before{
		color: @Pourpre-dark;
		display: block;
		.FontAwesome();
		.fontSize(40);
		float: left;
		margin-right: 10px;
	}
}
h2.title-formule-1{
	&:before{
		content: '\F1DE';
	}
}
h2.title-formule-2{
	&:before{
		content: '\F0A1';
	}
}
h2.title-formule-3{
	&:before{
		content: '\F144';
	}
}
.link-formule{
	text-decoration: none;
	&:hover{
		color: @Black;
		.btn-link-formule{
			&:before{
				background-color: @Green;
			}
			> span{
				opacity: 1;
			}
		}
		p{
			color: @Black;
		}
	}
}
.btn-link-formule{
	text-decoration: none;
	position: relative;
	&:before{
		content: '\F05D';
		background-color: @Corail;
		color: @White;
		display: block;
		.fontSize(20);
		.FontAwesome();
		.lineHeight(50);
		text-align: center;
		height: 50px;
		width: 50px;
		.transition(@prop:all, @duration:0.3s, @ease:ease-in-out);
	}
	span{
		background-color: @Corail;
		color: @White;
		display: block;
		opacity: 0;
		padding: 2px;
		position: absolute;
		top: -50px;
		left: 20px;
		width: 180px;
		.transition(@prop:all, @duration:0.3s, @ease:ease-in-out);
	}
}
.col-md-6{
	margin-top: 15px;
}
/*------------------------------
RÉCAP COMMANDES
--------------------------------*/
.list-item-cmd{
	li{
		border-bottom: 1px solid @Grey2;
		color: @Grey;
		padding: 2px 0;
		text-transform: uppercase;
		b,
		p{
			color: @Violet;
			.Podkova-Bold();
			text-transform: none;
		}
	}
}
.fieldset-cmd{
	margin-top: 15px;
	h3{
		.fontSize(18);
		margin-bottom: 5px;
	}
	a{
		color: @Violet;
	}
}
/*------------------------------
BOUTONS
--------------------------------*/
.btn{
	&:after{
			color: @White;
			display: block;
			float: right;
			.FontAwesome();
			.fontSize(20);
			font-weight: normal;
			.lineHeight(50);
			margin-left: 10px;
			text-align: center;
			width: 50px;
			.transition(@prop:all, @duration:0.3s, @ease:ease-in-out);
	}

	&:hover,
	&:focus{
		input[type="submit"]{
			cursor: pointer;
			background-color: @White;
			border-color: @Green;
			color: @Green;
		}
		&:after{
			background-color: @Green;
		}
	}
}
.btn-connexion{
	margin-top: 20px;
	float: right;
	input[type="submit"]{
		margin-top: 0;
	}
	&:after{
			background-color: @Corail;
			content: "\F011";
	}
}
.btn-cmde{
	margin-top: 20px;
	float: left;
}
.btn-commande{
	clear: both;
	input[type="submit"]{
		margin-top: 0;
	}
	&:after{
		background-color: @Corail;
		content: "\F07A";
	}
}
.btn-valid{
	margin-top: 20px;
	float: left;
	input[type="submit"]{
		margin-top: 0;
	}
	&:after{
		background-color: @Corail;
		content: "\F00C";
	}
}
.btn-modif-commande{
	&:after{
		background-color: @Pourpre;
		content: "\F0E2";
	}
	&:hover{
		a{
			background-color: @Green;
		}
	}
	a{
		background-color: @Pourpre;
		color: @White;
		display: block;
		float: left;
		.fontSize(20);
		line-height: 50px;
		text-decoration: none;
		padding: 0 15px;
	}
}
/*------------------------------
PAGES ADMIN
--------------------------------*/
.table{
	width: 100%;
	.table-header{
		background-color: @Corail;
		th{
			padding: 5px !important;
			color: @White;
		}
		.th-center{
			text-align: center;
		}
	}
	a{
		display: block;
		text-align: center;
		text-decoration: none;
	}
}
.hist{
	&:hover{
		&:before{
			color: @Green;
		}
	}
	&:before{
		color: @Grey1;
		content:'\F03A';
		.FontAwesome();
		font-style: normal;
		.fontSize(20);
		.transition(@prop:all, @duration:0.3s, @ease:ease-in-out);
	}
	span{
		display: none;
		direction: ltr;
		text-indent: -999em;
	}
}
.edit{
	&:hover{
		&:before{
			color: @Green;
		}
	}
	&:before{
		color: @Grey1;
		content:'\F040';
		.FontAwesome();
		font-style: normal;
		.fontSize(20);
		.transition(@prop:all, @duration:0.3s, @ease:ease-in-out);
	}
	span{
		display: none;
		direction: ltr;
		text-indent: -999em;
	}
}
.delete{
	&:hover{
		&:before{
			color: @Error;
		}
	}
	&:before{
		color: @Grey1;
		content:'\F1F8';
		.FontAwesome();
		font-style: normal;
		.fontSize(20);
		.transition(@prop:all, @duration:0.3s, @ease:ease-in-out);
	}
	span{
		display: none;
		direction: ltr;
		text-indent: -999em;
	}
}
.new-password{
	&:hover{
		&:before{
			color: @Green;
		}
	}
	&:before{
		color: @Grey1;
		content:'\F021';
		.FontAwesome();
		font-style: normal;
		.fontSize(20);
		.transition(@prop:all, @duration:0.3s, @ease:ease-in-out);
	}
	span{
		display: none;
		direction: ltr;
		text-indent: -999em;
	}
}
.table-striped tbody tr:nth-of-type(2n+1) {
	background-color: rgba(0,0,0,.05);
}
.title-admin{
    margin-bottom: 15px;
}
.form-label-admin{
    input[type="text"],
    textarea{
		margin-bottom: 0;
        margin-top: 0;
	}
    label{
        margin-top: 15px;
    }
    .alert-danger{
        margin-bottom: 0;
    }
}
.form-label{
    input[type="text"]{
		margin-bottom: 0;
	}
    label{
        margin-top: 15px;
    }
    .alert-danger{
        margin-bottom: 0;
    }
}
.form-fiche-client{
	input[type="text"]{
		margin: 0;
	}
}
.form-edit-fiche-client{
	.valid-annonceur{
		h3{
			margin-bottom: 15px;
		}
		.row{
			margin-top: 0;
		}
	}
}
/*------------------------------
MENU STIKY
--------------------------------*/
.stiky-nav.stiky-nav-page{
	.transformX(@x:-100%);
	.transition(@prop:all, @duration:1s, @ease:ease-in-out);
	position: fixed;
	top: 0;
	z-index: 99;
}
.stiky-nav.stiky-nav-page.fixed{
	.transformX(@x:0);
}
/*------------------------------
FOOTER
--------------------------------*/
footer{
	background-color: @White;
	margin: 0 auto;
	padding: 3.9%;
	em{
		color: @Grey;
		.fontSize(14);
		a{
			color: @Corail;
			&:hover{
				color: @Grey;
			}
		}
	}
}

/*------------------------------
RETURN TOP
--------------------------------*/
.btn-up{
	top:0;
    cursor: pointer;
    background: @Bleu;
	display: block;
    height: 51px;
    opacity: 1;
    position: fixed;
    right: 0px;
    text-decoration: none;
    width: 51px;
    z-index: 99;
    .transformX(@x:55px);
    .transition(@prop:all, @duration:1s, @ease:ease-in-out);
    &:hover{
	    background: @Black;
	    color: @White;
    }
    .btn-up-on{
		.transformX(@x:0);
	}
	.ti-angle-double-up:before {
	content: "\e660";
	display: block;
	text-align: center;
	line-height: 51px;
		&:focus{
		    color: @Black;
	    }
	}
}
/*------------------------------
TABLEAU
--------------------------------*/
.bootstrap-table{
	margin-top: 20px;
}
/*------------------------------
FORM
--------------------------------*/
.form-container{
	padding: 0 20% 0 10%;
	padding-right: 20%;
}
.form-content{
	margin-top: 40px;
	position: relative;
}
.submit-content {
	height: 50px;
	.transition(@prop:all, @duration:0.3s, @ease:ease-in-out);
	width: auto;
}
.recaptcha-content,
.submit-content{
	float: left;
}
.label-date{
	margin-top: 15px;
}
input, select, textarea{
	color: @Black;
    .Podkova-Bold();
    .fontSize(16);
}
fieldset{
	margin-top: 25px;
	.row{
		margin-top: 0;
	}
}
textarea{
	width: 100%;
	min-height: 200px;
	margin-top: 20px;
	padding: 10px;
}
input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="week"],
input[type="month"],
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"]{
	margin-top: 15px;
	padding: 10px;
	width: 100%;
	&:first-child{
		margin-top: 0;
	}
}
input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="week"],
input[type="month"],
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="number"],
textarea{
	background: @Grey2;
	border: none;
	border-radius: 0;
	box-shadow: none;
	.transition();
	&:hover,
	&:focus{
		color: @Black;
		border-bottom: 5px solid @Pourpre;
	}
}
input[type="submit"],
input[type="button"],
input[type="reset"]{
	background-color: @Corail;
	border: 5px solid @Corail;
	color: @White;
	text-align: center;
	height: 50px;
	margin-top: 20px;
	padding: 10px;
	.lineHeight(20);
	.fontSize(20);
	font-weight: normal;
	width: auto;
	.transition(@prop:all, @duration:0.3s, @ease:ease-in-out);
	&:hover,
	&:focus{
		cursor: pointer;
		background-color: @White;
		border-color: @Green;
		color: @Green;
	}
}
input[type="date"]{
	color: @Grey;
	.Podkova-Reg();
	margin-top: 5px;
}
.upload-file{
	height: 40px;
	margin-top: 15px;
	position: relative;
}
.upload-delete-file{
	height: 40px;
	position: relative;
    float: left;
}
input[type="file"]{
	cursor: pointer;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
    margin-left: 3px;
    height: 100%;
    width: 250px;
    display: block;
}
.btn-file-dwnl{
	background: @Grey2;
	.Rubik-Reg();
	color: @Grey;
	display: block;
	float: left;
	.fontSize(16);
	.lineHeight(40);
	padding: 0 10px;
	&:hover{
	 cursor: pointer;
	}
}
.fa-upload{
	background: @Pourpre-dark;
	display: block;
	float: left;
	.lineHeight(40);
	margin-left: 10px;
	width: 40px;
	&:hover{
		cursor: pointer;
	}
}
.fa-upload:before {
	color: @White;
	content: "\f093";
	display: block;
	.FontAwesome();
	text-align: center;
	&:hover{
		cursor: pointer;
	}
}

.fa-delete{
    background: @Error;
	display: block;
	float: left;
	.lineHeight(40);
	margin-left: 10px;
	width: 40px;
	&:hover{
		cursor: pointer;
	}
}
.fa-delete:before {
	color: @White;
	content: '\F1F8';
	display: block;
	.FontAwesome();
	text-align: center;
	&:hover{
		cursor: pointer;
	}
}
.file-2,
.file-3{
	display: none;
}
label{
	color: @Placeholder;
	.Podkova-Reg();
	.fontSize(16);
	float: left;
	width: 100%;
}
.date-livraison,
.mail-livraison{
	margin-top: 15px;
}
.input-mail-livraison{
	margin-top: 5px !important;
}
::-webkit-input-placeholder {
	color: @Placeholder;
	.Podkova-Reg();
	.fontSize(16);
	&:hover{
		color: @Black;
	}
	&:focus{
		color: @Black;
	}
}

:-moz-placeholder {
	color: @Placeholder;
	.Podkova-Reg();
	.fontSize(16);
	&:hover{
		color: @Black;
	}
	&:focus{
		color: @Black;
	}
}

::-moz-placeholder {
	color: @Placeholder;
	.Podkova-Reg();
	.fontSize(16);
	opacity: 1;
	&:hover{
		color: @Black;
	}
	&:focus{
		color: @Black;
	}
}

:-ms-input-placeholder {
	color: @Placeholder;
	.Podkova-Reg();
	.fontSize(16);
	&:hover{
		color: @Black;
	}
	&:focus{
		color: @Black;
	}
}
*::-webkit-input-placeholder,
*:-moz-placeholder,
*::-moz-placeholder,
*:-ms-input-placeholder{
	color: @Placeholder;
	.Podkova-Reg();
	.fontSize(16);
	&:hover{
		color: @Black;
	}
	&:focus{
		color: @Black;
	}
}
.link-come-back{
	display: block;
	text-decoration: none;
	margin-top: 20px;
	button{
		background-color: @Grey1;
		.Podkova-Reg();
		.fontSize(18);
		color: @White;
		display: block;
		.lineHeight(50);
		text-align: center;
		text-decoration: none;
		border: none;
		box-shadow: none;
		.transition(@prop:all, @duration:0.3s, @ease:ease-in-out);
	}
	&:hover{
		button{
			background-color: @Grey;
			cursor: pointer;
		}
	}
}
.mobile-off{
	opacity: 0;
}
@media screen and (min-width : 768px){
	.mobile-off{
		opacity: 1;
	}
	h1{
		.fontSize(45);
	}
	h2{
		.fontSize(35);
	}
	.page-header{
		h1{
			.fontSize(45);
		}
	}
	.primary-navigation{
		margin: @Mdesktop;
		margin-top: 0;
	}
	.site-header-branding{
		width: auto;
	}
	.site-branding{
		margin: 0;
		width: 295px;
	}
	footer{
		background-color: transparent;
		margin: 20px 0;
	}
	.page-inner{
		margin-bottom: 3.9%;
	}
	.navbar{
		margin-top: 0;
		padding: 0;
	}
	.page-header{
		margin-bottom: 30px;
	}
	.formule-container {
		header{
			height: 210px;
			margin-bottom: 30px;
		}
		aside{
			&:after{
				bottom: 220px;
				.fontSize(70);
				right: 45px;
			}
		}
		.aside-formule-2,
		.aside-formule-3{
			&:after{
				bottom: 220px;
			}
		}
	}
	.infos-membre{
		margin-top: 45px;
	}
	.infos-cmd{
		aside{
			.fontSize(16);
		}
		h3{
			.fontSize(20);
		}
	}
	.link-rcmd{
		a{
			position: relative;
			right: auto
		}
	}
    .link-spr{
		a{
			position: relative;
			right: auto
		}
	}
	.col-md-6{
		margin-top: 0;
	}
	fieldset{
		.row{
			margin-top: 15px;
		}
	}
	.bootstrap-table{
		margin-top: 0;
	}
	.easyPaginateNav{
	margin-top: 15px;
		a{
			background-color: @Grey1;
			color: @White;
			height: 35px;
			.lineHeight(35);
			margin: 0 5px;
			text-align: center;
			text-decoration: none;
			width: 35px;
			&:first-child{
				margin-left: 0;
			}
			&:last-child{
				margin-right: 0;
			}
			&:hover{
				background-color: @Grey;
			}
		}
		a.current{
			background-color: @Green;
		}
	}
}
@media screen and (min-width : 992px){
	.primary-navigation{
		margin: 0;
	}
	.site-branding{
		margin: @Mdesktop;
		width: 360px;
	}
	.formule-container {
		header{
			height: 230px;
			margin-bottom: 30px;
		}
		aside{
			&:after{
				bottom: 165px;
				right: 45px;
			}
		}
		.aside-formule-2,
		.aside-formule-3{
			&:after{
				bottom: 165px;
			}
		}
	}
}
@media screen and (min-width : 1200px){
	.easyPaginateNav{
		.page{
			display: block;
		}
	}
}
