//GOOGLE FONT
@import url('https://fonts.googleapis.com/css?family=Podkova:400,800|Rubik:400,700');

// FONTAWESOME
@font-face {
  font-family: 'FontAwesome';
  src: url('font/fontawesome-webfont.eot?v=4.6.3');
  src: url('font/fontawesome-webfont.eot?#iefix&v=4.6.3') format('embedded-opentype'), url('font/fontawesome-webfont.woff2?v=4.6.3') format('woff2'), url('font/fontawesome-webfont.woff?v=4.6.3') format('woff'), url('font/fontawesome-webfont.ttf?v=4.6.3') format('truetype'), url('font/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
// THEMIFY
@font-face {
	font-family: 'themify';
	src:url('font/themify.eot?-fvbane');
	src:url('font/themify.eot?#iefix-fvbane') format('embedded-opentype'),
		url('font/themify.woff?-fvbane') format('woff'),
		url('font/themify.ttf?-fvbane') format('truetype'),
		url('font/themify.svg?-fvbane#themify') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="ti-"], [class*=" ti-"] {
	font-family: 'themify';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}